﻿@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Application.Commands.Producer.EditProducerCommand

@{
	ViewData["Title"] = "Update producer";
}

<div class="row text">
	<div class="col-md-8 offset-2">
			<h1>Update producer</h1>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="mb-3 text-center">
						<img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
					</div>
					<div class="mb-3">
						<label asp-for="ProfilePictureUrl" class="form-label"></label>
						<input asp-for="ProfilePictureUrl" class="form-control" />
						<span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="FullName" class="form-label"></label>
						<input asp-for="FullName" class="form-control" />
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Bio" class="form-label"></label>
						<input asp-for="Bio" class="form-control" />
						<span asp-validation-for="Bio" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<input type="submit" value="Update" class="btn btn-outline-success float-end" />
						<a class="btn btn-outline-secondary" asp-action="Index">Go to list</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			let output = document.getElementById('ProfilePicturePreview');
			output.src = $("#ProfilePictureUrl").val();
		})

		$("#ProfilePictureUrl").on("change", function () {
			let output = document.getElementById('ProfilePicturePreview');
			output.src = $(this).val();
		})
	</script>
}