<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You do not have permission to access this page!</h2>
        <p>Please contact to customer service for more information about this problem</p>
        <hr />
        <p>Thank you for using our service!</p>
    </div>
</div>