<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Register successfully!</h2>
        <p>You can now log in to your account</p>
        <hr />
        <p>Thank you for using our service!</p>
    </div>
</div>