@model IEnumerable<Domain.Aggregates.IdentityAggregate.ApplicationUser>

@{
ViewData["Title"] = "List of Users";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h4>List of Users</h4>
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>