@model List<Application.Responses.OrderResponse>

@{
    ViewData["Title"] = "List of Orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <h4>List of Orders</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Items</th>
                <th>Total</th>
                @if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Admin"))
                {
                    <th>User</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type: none">
                            @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(oi => oi.Movie.Price * oi.Amount).Sum().ToString("c")
                    </td>
                    @if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @order.User.FullName </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>