<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed</h2>
        <p>You can check all of your orders in the Order section in your profile</p>
        <hr />
        <p>Thank you for using our service!</p>
    </div>
</div>