@model Presentation.Models.ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>Your shopping cart</h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Amount</th>
                <th>Movie</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ShoppingCartService.ShoppingCartItems)
            {
                <tr>
                    <td class="align-middle">@item.Amount</td>
                    <td class="align-middle">@Model.MovieName</td>
                    <td class="align-middle">@Model.MoviePrice.ToString("c")</td>
                    <td class="align-middle">@((item.Amount * Model.MoviePrice).ToString("c"))</td>
                    <td class="align-middle">
                        <a class="text-danger" asp-controller="Order" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.MovieId">
                            <i class="bi bi-cart-dash"></i>
                        </a>
                        <a class="text-center" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@item.MovieId">
                            <i class="bi bi-cart-plus"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>
                    <b>Total:</b>
                </td>
                <td>
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <div class="text-end">
            <div class="btn-group">
                @*<a class="btn btn-outline-primary" asp-action="MakeOrder"> 
                     Make Order 
                 </a>*@
                <div id="paypal-btn"></div>
                <span style="padding: 5px"></span>
                <a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">
                    Add more item
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <script>
        let _total = @Html.Raw(Model.ShoppingCartTotal)
        
        paypal.Button.render({
            env: 'sandbox',
            client: {
                sandbox: 'AUveLkmeNBjAWM7KtgQxhtMdSzBYirG3duP9Leha2OVvsQocNVQ27AB1KOnoz4xXxniwMlATSLfA_HnL'
            },
            
            // Customize button style
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill'
            },
            commit: true,
            
            // Set up payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: _total,
                            currency: 'USD'
                        }
                    }]
                });
            },
            
            // Execute payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    window.location.href = '@Url.Action("MakeOrder", "Order", new { })';
                })
            }
        }, '#paypal-btn');
    
    </script>
}