﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.Responses.ActorResponse

@{
    ViewData["Title"] = "Actor details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1>Details of @Model.FullName</h1>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="ProfilePicturePreview" />
                </div>
                <div class="mb-3">
                    <label asp-for="ProfilePictureUrl" class="form-label"></label>
                    <input asp-for="ProfilePictureUrl" class="form-control" readonly/>
                    <span asp-validation-for="ProfilePictureUrl" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FullName" class="form-label"></label>
                    <input asp-for="FullName" class="form-control" readonly/>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Bio" class="form-label"></label>
                    <input asp-for="Bio" class="form-control" readonly/>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-outline-success float-end" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Go to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
		$(document).ready(function () {
			let output = document.getElementById('ProfilePicturePreview');
			output.src = $("#ProfilePictureUrl").val();
		})
	</script>
}