﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Application.Responses.ActorResponse>

@{
	ViewData["Title"] = "List of Actors";
}

<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">
			<thead>
				<tr class="text-center">
					<th>@Html.DisplayNameFor(model => model.ProfilePictureUrl)</th>
					<th>@Html.DisplayNameFor(model => model.FullName)</th>
					<th>@Html.DisplayNameFor(model => model.Bio)</th>
					@if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Admin"))
					{
						<th>Actions</th>
					}
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							<img class="rounded-circle" src="@item.ProfilePictureUrl" alt="@item.FullName" style="max-width: 150px" />
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.FullName)
						</td>
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.Bio)
						</td>
						@if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Admin"))
						{
							<td class="align-middle">
								<a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
								<a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
								<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@await Html.PartialAsync("_CreateItem", "Actor")