﻿@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Application.Responses.MovieResponse

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <h5 class="card-title">
                            @Model.Name
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" width="100%" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Cinema: </b>
                            <a asp-controller="Cinema" asp-action="Details" asp-route-id="@Model.CinemaId">
                                @Model.Cinema.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producer" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Category: </b>@Model.MovieCategory
                        </p>
                        <p class="card-text">
                            <b>Start Date: </b>@Model.StartDate.ToString("dd MMM yy")
                        </p>
                        <p class="card-text">
                            <b>End Date: </b>@Model.EndDate.ToString("dd MMM yy")
                        </p>
                        <p class="card-text">

                            @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                            {
                                <span class="badge bg-success">AVAILABLE</span>
                            }
                            else if (DateTime.Now > Model.EndDate)
                            {
                                <span class="badge bg-danger">EXPIRED</span>
                            }
                            else
                            {
                                <span class="badge bg-primary">UPCOMING</span>
                            }
                        </p>
                        <p class="card-text">
                        <b>Actors: </b>
                        <hr/>
                        <div class="row">
                            @foreach (var actor in Model.ActorsMovies)
                            {
                                <div class="col text-center">
                                    <img class="border-info rounded-circle" src="@actor.Actor.ProfilePictureUrl" style="max-width: 150px" />
                                    <br/>
                                    <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer ">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-end" asp-action="Index">
                                Back to list
                            </a>
                            <a class="btn btn-success @(DateTime.Now > Model.EndDate ? "disabled" : "")" asp-controller="Order" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id">
                                <i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>