﻿@using Core.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Application.Commands.Movie.EditMovieCommand

@{
	ViewData["Title"] = "Update movie";
}

<div class="row">
	<div class="col-md-8 offset-2">
		<h4>Update movie</h4>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="row">
						<div class="col-md-6">
							<div class="mb-3">
								<label asp-for="Name" class="form-label"></label>
								<input asp-for="Name" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="StartDate" class="form-label"></label>
								<input asp-for="StartDate" class="form-control" />
								<span asp-validation-for="StartDate" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="EndDate" class="form-label"></label>
								<input asp-for="EndDate" class="form-control" />
								<span asp-validation-for="EndDate" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="Price" class="form-label"></label>
								<input asp-for="Price" class="form-control" />
								<span asp-validation-for="Price" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="ImageUrl" class="form-label"></label>
								<input asp-for="ImageUrl" class="form-control" />
								<span asp-validation-for="ImageUrl" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="mb-3">
								<label asp-for="CinemaId" class="form-label"></label>
								<select asp-for="CinemaId" class="form-control" asp-items="ViewBag.Cinemas"></select>
								<span asp-validation-for="CinemaId" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="MovieCategory" class="form-label"></label>
								<select asp-for="MovieCategory" class="form-control" asp-items="Html.GetEnumSelectList<MovieCategory>()"></select>
								<span asp-validation-for="MovieCategory" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="ProducerId" class="form-label"></label>
								<select asp-for="ProducerId" class="form-control" asp-items="ViewBag.Producers"></select>
								<span asp-validation-for="ProducerId" class="text-danger"></span>
							</div>
							<div class="mb-3">
								<label asp-for="ActorIds" class="form-label"></label>
								<select asp-for="ActorIds" class="form-control" asp-items="ViewBag.Actors" multiple></select>
								<span asp-validation-for="ActorIds" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="mb-3">
								<label asp-for="Description" class="form-label"></label>
								<textarea asp-for="Description" class="form-control"></textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="col-md-4 offset-4 text-center">
						<img width="100%" id="ImageUrlPreview" />
					</div>
					<div class="mb-3">
						<input type="submit" value="Edit" class="btn btn-outline-success float-end" />
						<a class="btn btn-outline-secondary" asp-action="Index">Go to list</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			let output = document.getElementById("ImageUrlPreview");
			output.src = $("#ImageUrl").val();
		})
		
		$("#ImageUrl").on("change", function () {
			let output = document.getElementById("ImageUrlPreview");
			output.src = $(this).val();
		})
	</script>
}