﻿@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Application.Responses.CinemaResponse

@{
    ViewData["Title"] = "Delete confirmation";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1>Delete confirmation for @Model.Name</h1>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="LogoPreview" />
                </div>
                <div class="mb-3">
                    <label asp-for="Logo" class="form-label"></label>
                    <input asp-for="Logo" class="form-control" readonly/>
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" readonly/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" readonly/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id"/>
                        <input type="submit" value="Confirm" class="btn btn-danger float-end"/>
                    </form>
                    <a class="btn btn-outline-secondary" asp-action="Index">Go to list</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
		$(document).ready(function () {
			let output = document.getElementById('LogoPreview');
			output.src = $("#Logo").val();
		})

		$("#Logo").on("change", function () {
			let output = document.getElementById('LogoPreview');
			output.src = $(this).val();
		})
	</script>
}