﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row text-center">
	<div class="col-md-6 offset-3">
		<h1>404 Not Found</h1>
		<a class="btn btn-primary mt-4" asp-controller="Movie" asp-action="Index">Home Page</a>
	</div>
</div>